.dropzone {
  display: flex;
  justify-content: center;
  border: 2px dashed rgba(41, 176, 167,0.5);
  border-radius: 2px;
  margin: 20px 0;
  text-align: center;
  padding: 50px;
  max-width: 400px;
  width: 50vw;
  background-color: rgba(41, 176, 167,0.1);
}

.hovering {
   border: 2px solid rgba(41, 176, 167,1.0);
   background-color: rgba(41, 176, 167,0.2);
}

h3 {
  margin:0 0 20px 0;
}


